/*----------- font style ------- */
/* poppins font */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/*............. font-family: 'Poppins'*/

/* Roboto font */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* ............... font-family: 'Roboto';  */

/* --------------------------------------- common styles -----------------------------------------*/
body {
    margin: 0;
    background: #FFFFFF;
    font-family: 'Poppins';

}
.conteiner{
    margin: 0px 120px 50px 120px; 
}
.button{
    padding: 15px 25px;
    border-radius: 25px;
    background-color: #E02C6D;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 700;
    border:0px;
transition: .5s ease-in-out;
}
.button>a{
    text-decoration: none;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 700;
}
/* ---------- common hover ---------- */
.button:hover{
    transform: scale(1.05);
position: relative;
}

/* --------------------------------Page title With Menu section 1--------------------------------- */
.page-title{
    margin-top: 87px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.menu a{
    text-decoration: none;
    color: #3A3A3A;
    font-size: 16px;
    font-weight: 600;
    margin-left: 2em;
}
/*------------------ menu hover ----------------*/
.menu a:hover{
    color: #E02C6D;
}


 /*------------------------------------ page heading contant section 2--------------------------- */

.top-contant{
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.top-info{
    padding-right: 50px;
}
.top-contant h1{
    font-size: 52px;
    font-weight: 700;
    margin-bottom: 0;
}
.top-info p{
    margin-top: 0;
}
.top-image img{
    display: flex;
    align-items: center;
    justify-content: center;
}
.top-image img{
    width: 400px;
    height: 380px;  
}  
 .top-image{
        background-image: url(images/Circle\ design.svg);
    background-repeat: no-repeat;
background-size: 402px;
}

 /* --------------------------------- Other Pages icon section 3 ------------------------------ */

.icon-logo{
    margin: 100px;
    /* border: 1px solid rgb(128, 128, 128); */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.icon-logo>img{
    margin: 15px 10px;
    padding: 5px;
}

 /* --------------------------------- Photo Album section 4 ------------------------------ */
.photo-album{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    justify-items: center;
}

.section-title{
    text-align: center;
    margin-bottom: 40px;
    font-size: 28px;
    font-weight: 600;
}
.photo-frame{
    border-radius: 15px;
    box-shadow:  .8px .5px 15px rgba(97, 97, 97, 0.397) ;
    width: 300px;
    height: 476px;
    padding: 15px;
}
#item-photo{
    width: 300px;
    height: 256px;
    border-radius: 10px;
}
.photo-frame .photo-title{
    font-size: 28px;
    font-weight: 500;
    margin: 16px 0 3px 0;
}
.price{
    font-size: 24px;
    font-weight: 400;
    margin: 3px 0 6px 0;
    }
#rating{
    display: flex;
    margin-bottom: 10px;
}
.rating-star{
    font-size: 14px;
    color: #FB8200;
    margin-right: 15px;
}
.rating-point{
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: 700;
    color: #5E6366;
}

.photo-frame p{
    font-size: 14px;
    color: #787885;
    margin: 3px 0;
    font-weight: 700;
}
#others-photo{
    color: #E02C6D;
    font-size: 16px;
    font-weight: 700;
    text-align: right;
    margin: 50px 10px 100px 0;
}
/*--------- section 4--- hover------------- */
.photo-frame:hover{
    transform: scale(1.05);
background-color: rgb(253, 255, 241);
}

/* -------------------------------------Vedio panal---------------- exta section ----------- */
.reviews{
    padding: 10px ;
    background-color: rgba(221, 220, 220, 0.425);
}
.product-reviews{
    font-size: 14px;
    color: rgba(37, 37, 37, 0.986);
    text-align: center;

}
.video{
    /* display: flex;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    padding: 10px;
    justify-items: center;  
}
.video iframe{
    margin: 5px;
height: 250px;
width: 400px;
}
/* ---------------------------------------- footer styles ---------------------------------------- */

footer {
    width: 100%;
    height: 239px;
    color: #D9DBE1;
    font-weight: 700;
    background: #0A0826;

}

.footer {
    padding-top: 30px;
    text-align: center;
}

.footer p{
    font-size: 14px;
    padding: 0;
}

.footer a i{
    color: #FFFFFF;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 18px;
}



/* --------------------------------responsive website --------------------- mobile--- max 768p-x--*/

 @media only screen and (max-width: 768px){

    body{
       display: flex;
       flex-direction: column;
       align-items: center;
       width: 100%;

    }
    
    .page-title{
        display: flex;
        flex-direction: column;
        margin-right: 30px;
    }
    .conteiner{
        margin-left: 30px;
        margin-right: 30px;
    }
    .menu{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: start;
    }
.top-contant {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.top-info {
    padding: 10px;
}  

.photo-album {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.video, .reviews{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.video{
    width: 80%;
}

.footer{
    width: 100%;
}

.video iframe{
margin: 5px;
height: 200px;
width: 325px;
}

} 
